*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
*:focus{
  outline: none;
}
body {
  background-color: $background-secondary;
  color: $primary;
  font-family: $ff-primary;
  font-size: $fs-body;
  line-height: 1.6;

  &.overlay {
    background: #000;
  }

  img {
    display: block;
    max-width: 100%;
  }

  a {
    color: inherit;
    text-decoration: none;
    padding: 0;
  }
  strong {
    font-weight: $fw-bold;
  }

  p {
    font-size: $fs-small;
    margin-bottom: .75em;
    a{
      color: $accent;
      &:hover{
        text-decoration: underline;
      }
    }
  }

  ul {
    list-style: none;
    padding: 0;
  }

  h1 {
    font-size: $fs-h1;
  }

  h2 {
    font-size: $fs-h2;
  }

  h3 {
    font-size: $fs-h3;
  }

  h4 {
    font-size: $fs-h4;
  }

  h5 {
    font-size: $fs-h5;
  }

  main {
    min-height: calc(90vh - 40px);
    margin-top: 20vh;
  }

  code{
    
    span{
      &.token.console.class-name{
        text-decoration: none;
      }
    }
  }

  footer {
    min-height: 20px;
    margin-top: 10vh;
    background: $primary;
  }
}
